:root{
    --morado: #DD4470;
    --rosa: #FE72A9;
    --verde: #C6DF76;
    --piel: #FFE3B3;
    --gris: #f0f4fb;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

*{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
}

#encabezado{
    width: 100%;
    height: 10vh;
    display: flex;
    background-color: var(--morado);
}

#titulo{
    width: 100%;
    text-align: left;
    color: white;
    font-family: fantasy;
    font-size: 3rem;
    font-weight:300;
}

#logos {
    height: auto;
    width: auto;
}

nav{
    width: 100%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--morado);
    font-size: 2rem;
}

a{
    width: 100%;
    height: 5vh;
    text-align: center;
    text-decoration: none;
    color: white;
}

a:hover{
    background-color: var(--rosa);
    transform: translate(0);
}

@media only screen  and (max-width: 375px){
    #encabezado {height: auto;}
    :root{font-size: 5px;}
    nav {flex-direction: column; height: auto;}
    a:hover{transform: translate(20px);}
}

@media only screen  and (min-width: 375px){
    #encabezado {height: auto;}
    :root{font-size: 7px;}
    nav {flex-direction: column; height: auto;}
    a:hover{transform: translate(20px);}
}

@media only screen  and (min-width: 768px){
    #encabezado {height: 10vh;}
    :root{font-size: 10px;}
    nav {flex-direction: row; height: 5vh;}
    a:hover{transform: translate(0);}
}