.buscar-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.buscar-bar {
    width: 300px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.buscar-button {
    padding: 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.buscar-button:hover {
    background-color: #45a049;
}


.productosContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 2rem;
  }
  
  .productoContainer {
    padding: 2rem;
  
    margin: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.2s;
    max-width: 400px;
    text-align: center;
  }
  

  
  .productoDetalle {
    background-color: red;
  }
  .categoria-producto {
    color :#ca3d38;
    font-weight: bold;
  }
  .producto-precio{
    color:red
  }

  .producto-imagen{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  .boton-eliminar {
    background-color: #ff6347; /* Color de fondo */
    color: #fff; /* Color del texto */
    border: none; /* Sin borde */
    padding: 0.5rem 1rem; /* Espaciado interno */
    cursor: pointer; /* Cambiar cursor a pointer al pasar el mouse */
    border-radius: 4px; /* Borde redondeado */
    font-size: 14px; /* Tamaño de fuente */
}
  
  @media (max-width: 768px) {
    .productoContainer {
      justify-content: center;
      margin: 0 auto
    }
  }
  