<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Nosotros</title>
</head>
<body>
    <header>
        <div id="encabezado">
            <div id="logos">
                <img src="../static/img/logo.png" width="100%" class="logo">
                </div>
        </div>
        <nav id="navegacion">
            <a href="inicio.html">Inicio</a>
            <a href="noticias.html">Noticias</a>
            <a href="hardware.html">Hardware</a>
            <a href="about.html">Nosotros</a>
        </nav>
    </header>
    <main>  
        /* Agregar iframe mapa y a.href:mailto */
        <section>
            <h1>Quienes Somos</h1>
            <h2>Grupo 7 de Codo A Codo</h2>
            <p></p>
          



            <h3>Mi Ubicacion  - Alumno Nº2 </h3>
            <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d881.789647995176!2d-55.13661762316413!3d-27.866398249627633!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94f8c1d810a746c5%3A0xb328d08e7b1c3b35!2sSan%20Javier%2C%20Misiones!5e0!3m2!1ses-419!2sar!4v1716282122311!5m2!1ses-419!2sar" 
            width="600" 
            height="450">
        </iframe>
        </section>
    </main>
    <footer></footer>
</body>
</html>