<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn-icons-png.flaticon.com/512/1177/1177771.png" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/abaut.css">
    <title>Nosotros</title>
</head>
<body>
    <header>
        <div id="encabezado">
            <div id="logos"><img class="header-img" src="../static/img/logo.png" alt=""></div>
            <div id="titulo"><img class="header-img" src="../static/img/titulo.png" alt=""></div>
            <div id="sesion"><a id="cuenta" href="../templates/sesion.html">Iniciar Sesion</a></div>
        </div>
        <div> 
            <nav>
                <a class="pestaña" href="../index.html">Inicio</a>
                <a class="pestaña" href="./noticias.html">Noticias</a>
                <a class="pestaña" href="./hardware.html">Hardware</a>
                <a class="pestaña" href="./about.html">Nosotros</a>
            </nav>
        </div>
    </header>
    <main>  
        <section> 
            <h1>Quienes Somos</h1>
            <h2>Grupo 7 de Codo A Codo</h2>
            <br>
            <p>Calderon Carlos - Barboza Daniel</p>
       
            <div class="secciones">
            <form action="" method="post" id="formulario" >
                <h2>Contacto</h2>
                <div class="datos-ingreso">
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" id="nombre" placeholder="Cameron Dias">
                    
                    <label for="phone">Telefono</label>
                    <input type="tel" name="phone"  id="phone" placeholder="Telefono">

                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="Email">

                    <label for="message">Mensaje</label>
                    <textarea name="message" id="message" cols="30" rows="5" placeholder="Mensaje"></textarea>

                    <br>
                    <input type="checkbox" id="terminos" name="terminos">
                    <label for="terminos" class="labelCheck">Acepto los términos</label>
                    <br>

                    <button type="submit">Enviar</button>
                    <p id="mensajeError"></p>
                </div>
            </form>
       
        </div>

            <h3>Mi Ubicacion  - Alumno Nº2 </h3>
            <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d881.789647995176!2d-55.13661762316413!3d-27.866398249627633!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94f8c1d810a746c5%3A0xb328d08e7b1c3b35!2sSan%20Javier%2C%20Misiones!5e0!3m2!1ses-419!2sar!4v1716282122311!5m2!1ses-419!2sar" 
            width="400" 
            height="250">
        </iframe>
        
   
        </section>
    </main>
    <footer>
        <script src="../static/js/formulario.js"></script>
    </footer>
</body>
</html>