<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Nosotros</title>
</head>
<body>
    <header>
        <div id="encabezado"></div>
        <nav id="navegacion">
            <a href="inicio.html">Inicio</a>
            <a href="noticias.html">Noticias</a>
            <a href="hardware.html">Hardware</a>
            <a href="about.html">Nosotros</a>
        </nav>
    </header>
    <main>
        <section>
            <h1>Quienes Somos</h1>
            <h2>Grupo 7 de Codo A Codo</h2>
            <p></p>
            /* Agregar iframe mapa y a.href:mailto */
        </section>
    </main>
    <footer></footer>
</body>
</html>