<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/hardware.css">
    
    <title>Hardware</title>
</head>
<body>
    <header>
        <div id="encabezado">
            <div id="logos">
                <img src="../static/img/logo.png" width="100%" class="logo">
                </div>
        </div>
        <nav id="navegacion">
            <a href="inicio.html">Inicio</a>
            <a href="noticias.html">Noticias</a>
            <a href="hardware.html">Hardware</a>
            <a href="about.html">Nosotros</a>
        </nav>
    </header>
    <main>
    
        <div class="banners">

            <div class="contenido-web">
    
                <div class="contenedor-articulos">
                    <article class="articulos-card">
                        <figure class="imagen-articulo">
                            <img src="https://picsum.photos/500/300" alt="">
                        </figure>
                        <div class="contenido-articulo">
                            <a href="#" class="card-categoria"> Memorias</a>
                            <h3 class="titulo-card">Errores en las memorias Ram</h3>
                            <pc class="texto-card">Errores en Memorias, cuando una pantalla se paga, es señal de conexiones o falso contacto de las memorias</p>
                        </div>
                    </article>
                    <article class="articulos-card">
                        <figure class="imagen-articulo">
                            <img src="https://picsum.photos/400/300" alt="">
                        </figure>
                        <div class="contenido-articulo">
                            <a href="#" class="card-categoria"> Memorias</a>
                            <h3 class="titulo-card">Errores en Discos Rigidos</h3>
                            <p class="texto-card">Errores en Memorias, cuando una pantalla se paga, es señal de conexiones o falso contacto de las memorias</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
 
    </main>
    <footer></footer>
</body>
</html>

hello