<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn-icons-png.flaticon.com/512/1177/1177771.png" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Noticias</title>
</head>
<body>
    <header>
        <div id="encabezado">
            <div id="logos"><img class="header-img-logo" src="../static/img/logo.png" alt=""></div>
            <div id="titulo"><img class="header-img" src="../static/img/titulo.png" alt=""></div>
            <div id="sesion"><a id="cuenta" href="../templates/sesion.html">Iniciar Sesion</a></div>
        </div>
        <div> 
            <nav>
                <a class="pestaña" href="../index.html">Inicio</a>
                <a class="pestaña" href="./noticias.html">Noticias</a>
                <a class="pestaña" href="./hardware.html">Tutoriales</a>
                <a class="pestaña" href="./tienda.html">Tienda</a>
            </nav>
        </div>
    </header>
    <main>
        <section class="seccionClara">
            <article class="titulo">
                <h1>Enterate de las novedades tecnologicas</h1>
            </article>
            <article class="tarjeta">
                <h2>
                    Los cristales de tiempo tienen otro superpoder: 
                    la capacidad de reducir los errores de los ordenadores cuánticos
                </h2>
                <img alt="" class="imagen-inicio" src="https://i.blogs.es/920420/cristalestiempo-ap/1200_800.jpeg">
                <p>
                    La afinidad que tienen los ordenadores cuánticos y los cristales de 
                    tiempo está fuera de toda duda. No obstante, antes de indagar en 
                    ella nos interesa recordar qué son estos exóticos y seductores cristales. 
                    Los físicos teóricos coquetean con ellos desde que el estadounidense 
                    Frank Wilczek, galardonado con el Nobel de Física, propuso su formulación 
                    en 2012. En aquel momento la comunidad científica recogió la idea con 
                    mucho escepticismo, pero poco a poco la propuesta de Wilczek ha ido 
                    calando hondo y sumando adeptos.
                </p>
                <p>
                    Al igual que en cualquier otro cristal, los átomos de estas estructuras 
                    se distribuyen de una manera homogénea y ordenada, dando forma a un 
                    patrón que se repite periódicamente. Sin embargo, hay una diferencia 
                    fundamental entre los cristales ordinarios y los cristales de Wilczek: 
                    en los primeros el patrón se repite en el espacio, mientras que en los 
                    segundos lo hace, y esto es lo sorprendente, en el tiempo.
                </p>
                <p>
                    Es difícil imaginar un objeto con esta propiedad, pero hay algo aún más 
                    extraño que no podemos pasar por alto: para fabricar un cristal como los 
                    que propone este físico es necesario encontrar la forma de romper de forma 
                    espontánea la simetría temporal. Un objeto estable y aislado de cualquier 
                    perturbación permanece inalterado a lo largo del tiempo, de ahí que 
                    preserve la simetría de traslación temporal. Sin embargo, un cristal de 
                    tiempo debería ser capaz simultáneamente de preservar su estabilidad y 
                    cambiar su estructura cristalina de forma periódica.
                </p>
                <h2>Los cristales de tiempo pueden hacer un gran favor a los ordenadores cuánticos</h2>
                <p>
                    Si observamos el cristal de tiempo en distintos instantes deberíamos 
                    percibir que su estructura no es siempre la misma. Debería variar 
                    periódicamente, un comportamiento que inevitablemente nos lleva a 
                    identificarlo como un nuevo estado de la materia diferente a las fases 
                    sólida, líquida, gaseosa y plasmática. En determinadas condiciones también 
                    son posibles otros estados de la materia mucho más inusuales, como el 
                    Condensado de Bose-Einstein, pero en mayor o menor medida todos estamos 
                    familiarizados con estas cuatro fases.
                </p>
                <p>
                    A pesar de lo exóticas que son todas las ideas que hemos repasado hasta 
                    ahora, los cristales de tiempo han llegado a buen puerto. El grupo de 
                    investigación de la Universidad de Lancaster, en Reino Unido, liderado 
                    por el físico Samuli Autti consiguió poner a punto el primero a mediados 
                    de 2022. Sus cristales de tiempo están constituidos por magnones. Y lo 
                    curioso es que estos elementos no son partículas; son cuasipartículas de 
                    espín 1 capaces de transportar energía y momento en un cristal. Autti y 
                    sus colegas de investigación aseguraron que los cristales de tiempo que 
                    recrearon exhiben las mismas propiedades formuladas teóricamente por 
                    Frank Wilczek.
                </p>
                <p>
                    Desde entonces otros grupos de investigación han seguido los pasos del 
                    equipo liderado por Autti y han puesto a punto sus propios cristales de 
                    tiempo. Uno de ellos pertenece a la Universidad de la Academia China de 
                    Ciencias, y ha logrado incrementar la estabilidad del estado interno de 
                    un ordenador cuántico empleando, precisamente, un cristal de tiempo. Las 
                    condiciones que es necesario preservar para mantener el estado interno 
                    de los cúbits son tan exigentes que estas máquinas "olvidan" con cierta 
                    facilidad la información con la que trabajan.
                </p>
                <p>
                    Este fenómeno se conoce como decoherencia cuántica, y cuando aparece el 
                    ordenador cuántico pierde la ventaja que le dan los efectos cuánticos y 
                    pasa a comportarse como un ordenador clásico. El equipo de científicos 
                    chinos liderado por Biao Huang ha conseguido poner a punto un método que 
                    le ha permitido emplear un cristal de tiempo para prolongar el lapso 
                    durante el que se mantiene el entrelazamiento cuántico entre los cúbits. 
                    No obstante, esto no es todo. Y es que dos físicos de la Universidad 
                    Jagielloński, en Polonia, y uno más de la Universidad de Tecnología 
                    Swinburne, en Australia, defienden que los cristales de tiempo pueden 
                    ser utilizados para minimizar los errores de los ordenadores cuánticos.
                </p>
                <p>
                    Su artículo científico está disponible en arXiv, y en él proponen la 
                    utilización de una placa de circuito temporal que incorpora unos átomos 
                    ultrafríos que exhiben el mismo comportamiento de los cristales de tiempo. 
                    Estos científicos aseguran que esta placa permite a los cúbits del 
                    ordenador cuántico interactuar entre ellos sin que se produzca ningún 
                    tipo de degradación. Además, también sostienen que utilizándola los cúbits 
                    distantes pueden interactuar de formas complejas que actualmente no son 
                    posibles.
                </p>
                <p>
                    Todo suena muy bien, y si se confirma que esta tecnología funciona los 
                    ordenadores cuánticos plenamente funcionales podrían estar cerca. 
                    Actualmente estos científicos están fabricando una placa de circuito 
                    temporal en la que están utilizando potasio ultrafrío para crear los 
                    cristales de tiempo. Su experimento confirmará definitivamente si su 
                    propuesta realmente funciona. Ojalá sea así. Sería uno de los mayores 
                    hitos en computación cuántica de los últimos años. Crucemos los dedos.
                </p>
                <p>
                    Fuente: arXiv
                </p>
            </article>
    </main>
    <footer>
        <div id="pie">
            <a href="../templates/about.html">Sobre Nosotros</a>
        </div>
    </footer>
</body>
</html>