<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn-icons-png.flaticon.com/512/1177/1177771.png" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Noticias</title>
</head>
<body>
    <header>
        <div id="encabezado">
            <div id="logos"><img class="header-img-logo" src="../static/img/logo.png" alt=""></div>
            <div id="titulo"><img class="header-img" src="../static/img/titulo.png" alt=""></div>
            <div id="sesion"><a id="cuenta" href="../templates/sesion.html">Iniciar Sesion</a></div>
        </div>
        <div> 
            <nav>
                <a class="pestaña" href="../index.html">Inicio</a>
                <a class="pestaña" href="./noticias.html">Noticias</a>
                <a class="pestaña" href="./hardware.html">Tutoriales</a>
                <a class="pestaña" href="./productos.html">Tienda</a>
            </nav>
        </div>
    </header>
    <main>
        <section class="seccionClara">
            <article class="titulo">
                <h1>Enterate de las novedades tecnologicas</h1>
            </article>
            <article class="tarjeta">
                <h2>
                    Los procesadores AMD Ryzen 9000X3D llegarían con soporte 
                    completo para overclocking
                </h2>
                <img alt="" class="imagen-inicio" src="https://cdn.mos.cms.futurecdn.net/A8tmuH489aefDsQDG9SxqN-650-80.jpg.webp">
                <p>
                    En su lanzamiento, AMD ofrecería soporte completo para overclocking a sus 
                    CPU Ryzen 9000X3D, marcando un gran avance para los chips 3D V-Cache.
                    <br>
                    Los procesadores Ryzen de AMD con tecnología 3D V-Cache se han posicionado 
                    como algunos de los mejores para juegos disponibles. Por ejemplo, el 
                    Ryzen 7 7800X3D destaca en todas las métricas de rendimiento y pruebas de 
                    eficiencia para juegos. Con la próxima generación, se espera que AMD no 
                    solo mejore las capacidades de rendimiento listas para usar, sino que 
                    también permita a los usuarios ajustarlas manualmente para lograr 
                    experiencias aún más impresionantes.
                    <br>
                    El Ryzen 7 5800X3D fue el precursor de esta tecnología, destacándose 
                    por su gran rendimiento en juegos en su lanzamiento. Aunque el chip en 
                    sí era excelente, la tecnología 3D V-Cache aún era bastante nueva en ese 
                    tiempo, lo que llevó a AMD a adoptar un enfoque conservador en su primer 
                    lanzamiento. Las temperaturas y los voltajes se gestionaban meticulosamente 
                    y no había opciones de ajuste disponibles en la primera generación.
                </p>
                <h2>Soporte total de overclocking para la serie Ryzen 9000X3D.</h2>
                <p>
                    Luego en la segunda generación de chips 3D V-Cache con la serie 7000 
                    basada en Zen 4, ahora es posible utilizar Precision Boost Overdrive, 
                    Curve Optimizer y capacidades de overclocking de memoria EXPO. Estos 
                    chips han seguido el éxito de la serie Ryzen 5000X3.
                    <br>
                    AMD ha revelado nuevas características emocionantes para las próximas 
                    CPUs Ryzen 9000X3D con Zen 5, y una de las más destacadas es el soporte 
                    completo para overclocking. Esto significa que los usuarios de la 
                    plataforma AM5 no solo podrán ajustar Precision Boost Overdrive o Curve 
                    Optimizer, sino también realizar overclocking completo con las futuras 
                    CPUs 3D V-Cache. Este desarrollo indica que AMD ha afinado el diseño 3D 
                    V-Cache de sus chips, permitiendo a los usuarios maximizar su rendimiento.
                    <br>
                    Además de esto, aún hay algunas características nuevas que esperamos 
                    conocer en las próximas semanas. Se espera que las CPUs Ryzen 9000X3D 
                    se lancen cerca del lanzamiento de las placas de la serie 800 (X870E/X870), 
                    que llegarán a las tiendas a finales de septiembre.
                </p>
                <p>
                    Fuente: TechRadar
                </p>
            </article>
    </main>
    <footer>
        <div id="pie">
            <div>
                <a href="./templates/about.html">Sobre Nosotros</a>
            </div>
            <div><h2>Ninja Pc ®</h2></div>
            <div><h3>Casalis ♕ Barboza ♖ Calderon</h3></div>
        </div>
    </footer>
</body>
</html>