<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn-icons-png.flaticon.com/512/1177/1177771.png" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Noticias</title>
</head>
<body>
    <header>
        <div id="encabezado">
            <div id="logos"><img class="header-img-logo" src="../static/img/logo.png" alt=""></div>
            <div id="titulo"><img class="header-img" src="../static/img/titulo.png" alt=""></div>
            <div id="sesion"><a id="cuenta" href="../templates/sesion.html">Iniciar Sesion</a></div>
        </div>
        <div> 
            <nav>
                <a class="pestaña" href="../index.html">Inicio</a>
                <a class="pestaña" href="./noticias.html">Noticias</a>
                <a class="pestaña" href="./hardware.html">Tutoriales</a>
                <a class="pestaña" href="./tienda.html">Tienda</a>
            </nav>
        </div>
    </header>
    <main>
        <section class="seccionClara">
            <article class="titulo">
                <h1>Enterate de las novedades tecnologicas</h1>
            </article>
            <article class="tarjeta-imagen">
                <h2>Computacion Cuantica</h2>
                <p>
                    Los científicos dieron un paso más en el mundo de la informática y 
                    esperan haber hecho posible lo “imposible”
                </p>
                <a href="./noticia1.html" class="btn">Ver Mas <i class="fas fa-chevron-right"></i></a>
                <img class="imagen-inicio" src="https://static.dw.com/image/57909663_1004.webp">
            </article>
            <article class="contenedor-articulos">
                <article class="contenido-articulo">
                    <img src="https://static.dw.com/image/57909663_1004.webp" alt="">
                    <p>Los científicos dieron un paso más en el mundo de la informática y 
                        esperan haber hecho posible lo “imposible”</p>
                    <a href="" class="btn">Ver Mas<i class="fas fa-chevron-right"></i></a>
                </article>  
            </article> 
    </main>
    <footer>
        <div id="pie">
            <a href="../templates/about.html">Sobre Nosotros</a>
        </div>
    </footer>
</body>
</html>