<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/img/logo-icono.ico" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/otro.css">
    <title>Prueba</title>
</head>
<body>
    <div class="xop-banners">

        <div class="web-contenido">
            
            <div class="contenedor-articulos">
                <article class="articulos-card">
                    <figure class="imagen-articulo">
                        <img src="https://picsum.photos/500/300" alt="">
                    </figure>
                    <div class="contenido-articulo">
                        <a href="#" class="card-categoria"> Memorias</a>
                        <h3 class="titulo-card">Errores en las memorias Ram</h3>
                        <pc class="texto-card">Errores en Memorias, cuando una pantalla se paga, es señal de conexiones o falso contacto de las memorias</p>
                    </div>
                </article>
                <article class="articulos-card">
                    <figure class="imagen-articulo">
                        <img src="https://picsum.photos/400/300" alt="">
                    </figure>
                    <div class="contenido-articulo">
                        <a href="#" class="card-categoria"> Memorias</a>
                        <h3 class="titulo-card">Errores en Discos Rigidos</h3>
                        <p class="texto-card">Errores en Memorias, cuando una pantalla se paga, es señal de conexiones o falso contacto de las memorias</p>
                    </div>
                </article>
            </div>

        </div>

    </div>


    <div class="container-card">   
        <div class="card">
            <figure>
                <img src="../static/img/logo.png">
            </figure>    
            <div class="contenido-card">

            <h1>Trucos de mantenimiento hardware de PC</h1>
            <h2>Errores de Memoria</h2>
            <p>
                Hay varias señales que indican que su PC podría presentar problemas. Por ejemplo la memoria Ram...
            </p>
            <a href="#">Acceder</a>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="../static/img/logo.png">
            </figure>    
            <div class="contenido-card">

            <h1>Trucos de mantenimiento hardware de PC</h1>
            <h2>Errores de Memoria</h2>
            <p>
                Hay varias señales que indican que su PC podría presentar problemas. Por ejemplo la memoria Ram...
            </p>
            <a href="#">Acceder</a>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="../static/img/logo.png">
            </figure>    
            <div class="contenido-card">

            <h1>Trucos de mantenimiento hardware de PC</h1>
            <h2>Errores de Memoria</h2>
            <p>
                Hay varias señales que indican que su PC podría presentar problemas. Por ejemplo la memoria Ram...
            </p>
            <a href="#">Acceder</a>
            </div>
        </div>
    </div>




</body>
</html>