<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Software</title>
</head>
<body>
    <header>
        <div id="encabezado"></div>
        <nav id="navegacion">
            <a href="inicio.html">Inicio</a>
            <a href="noticias.html">Noticias</a>
            <a href="hardware.html">Hardware</a>
            <a href="software.html">Software</a>
            <a href="about.html">Nosotros</a>
        </nav>
    </header>
    <main>
        <h1>¿Quieres aprender a programar?</h1>
        <h2>Aqui unas recomendaciones</h2>
    </main>
    <footer></footer>
</body>
</html>