<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn-icons-png.flaticon.com/512/1177/1177771.png" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/tienda.css">
    <title>Tienda</title>
</head>
<body>
    <header>
        <div id="encabezado">
            <div id="logos"><img class="header-img-logo" src="../static/img/logo.png" alt=""></div>
            <div id="titulo"><img class="header-img" src="../static/img/titulo.png" alt=""></div>
            <div id="sesion"><a id="cuenta" href="../templates/sesion.html">Iniciar Sesion</a></div>
        </div>
        <div> 
            <nav>
                <a class="pestaña" href="../index.html">Inicio</a>
                <a class="pestaña" href="./noticias.html">Noticias</a>
                <a class="pestaña" href="./hardware.html">Tutoriales</a>
                <a class="pestaña" href="./tienda.html">Tienda</a>
            </nav>
        </div>
    </header>
    <main>
        <div class="seccionUno">
                <div class="buscar-container">
                    <button class="buscar-button"><a href="nuevoProducto.html">Agregar Producto</a></button>
                    <input type="text" class="buscar-bar" id="buscar-bar" placeholder="Buscar...">
                    
                </div>

                <div class="filter-buttons">
                    <button onclick="filtrarPorCategoria('computadoras')">Computadoras</button>
                    <button onclick="filtrarPorCategoria('celulares')">Celulares</button>
                    <button onclick="filtrarPorCategoria('accesorios')">Accesorios</button>
                    <button onclick="mostrarTodos()">Mostrar Todos</button>
                   
                </div>
                <div class="filter-buttons">  <select id="ordenarPrecio" onchange="ordenarPorPrecio(this.value)">
                    <option value="">Ordenar por Precio</option>
                    <option value="asc">Menor a Mayor</option>
                    <option value="desc">Mayor a Menor</option>
                </select>
        </div>
        <div class="productosContainer" id="productos">

        </div>


    </main>
    <footer>
        <div id="pie">
            <a href="../templates/about.html">Sobre Nosotros</a>
        </div>
    </footer>


    <script src="../static/js/tienda.js"></script>
</body>
</html>