<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn-icons-png.flaticon.com/512/1177/1177771.png" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/tienda.css">
    <title>Tienda</title>
</head>
<body>
    <header>
        <div id="encabezado">
            <div id="logos"><img class="header-img-logo" src="../static/img/logo.png" alt=""></div>
            <div id="titulo"><img class="header-img" src="../static/img/titulo.png" alt=""></div>
            <div id="sesion"><a id="cuenta" href="../templates/sesion.html">Iniciar Sesion</a></div>
        </div>
        <div> 
            <nav>
                <a class="pestaña" href="../index.html">Inicio</a>
                <a class="pestaña" href="./noticias.html">Noticias</a>
                <a class="pestaña" href="./hardware.html">Tutoriales</a>
                <a class="pestaña" href="./tienda.html">Tienda</a>
            </nav>
        </div>
    </header>
    <main>
        <div class="seccionUno">
     <button> <a href="nuevoProducto.html">Agregar Producto</a> </button>
        <div class="buscar-container">
            <input type="text" class="buscar-bar" placeholder="Buscar...">
            <button class="buscar-button">Buscar</button> 
        </div>
    </div>
        <div class="productosContainer" id="productos">



        </div>
    
    </main>
    <footer>
        <div id="pie">
            <a href="../templates/about.html">Sobre Nosotros</a>
        </div>
    </footer>


    <script src="../static/js/tienda.js"></script>
</body>
</html>