<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn-icons-png.flaticon.com/512/1177/1177771.png" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Noticias</title>
</head>
<body>
    <header>
        <div id="encabezado">
            <div id="logos"><img class="header-img-logo" src="../static/img/logo.png" alt=""></div>
            <div id="titulo"><img class="header-img" src="../static/img/titulo.png" alt=""></div>
            <div id="sesion"><a id="cuenta" href="../templates/sesion.html">Iniciar Sesion</a></div>
        </div>
        <div> 
            <nav>
                <a class="pestaña" href="../index.html">Inicio</a>
                <a class="pestaña" href="./noticias.html">Noticias</a>
                <a class="pestaña" href="./hardware.html">Tutoriales</a>
                <a class="pestaña" href="./tienda.html">Tienda</a>
            </nav>
        </div>
    </header>
    <main>
        <section class="seccionClara">
            <article class="titulo">
                <h1>Enterate de las novedades tecnologicas</h1>
            </article>
            <article class="tarjeta">
                <h2>Errores de hardware y orígenes de errores</h2>
                <img alt="" class="imagen-inicio" src="../static/img/principal.jpg">
                <p>
                    <i>
                    Un error de hardware es un mal funcionamiento de un componente de 
                    hardware en un sistema informático. Los componentes de hardware 
                    contienen mecanismos de detección de errores que pueden detectar 
                    cuándo existe una condición de error de hardware. Los errores de 
                    hardware se pueden clasificar como errores corregidos o como errores 
                    no corregidos.
                    </i>
                </p>
                <p>
                    Un error corregido es una condición de error de hardware corregida 
                    por el hardware o el firmware en el momento en que se notifica la 
                    presencia del sistema operativo sobre la presencia de la condición 
                    de error.
                </p>
                <p>
                    Un error no corregido es una condición de error de hardware que el 
                    hardware o el firmware no pueden corregir. Los errores no corregidos 
                    se clasifican como irrecuperables o no graves.
                </p>
                <p>
                    Un error irrecuperable de hardware es una condición de error irrecuperable 
                    o no detenida que el hardware determina que el hardware no puede recuperar. 
                    Cuando se produce un error irrecuperable irrecuperable, el sistema 
                    operativo genera una comprobación de errores para contener el error.
                </p>
                <p>
                    Un error de hardware nofatal es una condición de error no corregida desde 
                    la que el sistema operativo puede intentar la recuperación intentando 
                    corregir el error. Si el sistema operativo no puede corregir el error, 
                    genera una comprobación de errores para contener el error.
                </p>
                <p>
                    La noción de un origen de error de hardware es un concepto fundamental de 
                    la arquitectura de errores de hardware de Windows (WHEA). Un origen de 
                    error de hardware es cualquier unidad de hardware que alerte al sistema 
                    operativo de la presencia de una condición de error. Entre los ejemplos de 
                    orígenes de errores de hardware se incluyen los siguientes:
                </p>
                <p>
                    Excepción de comprobación de la máquina del procesador (por ejemplo, MC#)
                    <br>
                    Señales de error del conjunto de chips (por ejemplo, SCI, SMI, SERR#, MCERR#)
                    <br>
                    Informes de errores del bus de E/S (por ejemplo, interrupción del error de puerto raíz pci Express)
                    <br>
                    Errores de dispositivo de E/S
                </p>
                <p>
                    Un único origen de errores de hardware podría controlar los informes de 
                    errores de más de un tipo de condición de error de hardware. Por ejemplo, 
                    la excepción de comprobación de la máquina de un procesador normalmente 
                    notifica errores de procesador, errores de memoria y caché, y errores de 
                    bus del sistema.
                </p>
            </article>
    </main>
    <footer>
        <div id="pie">
            <a href="../templates/about.html">Sobre Nosotros</a>
        </div>
    </footer>
</body>
</html>